# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/*.tfstate.*.backup

# K8s
kubernetes/secrets.yaml

# Docker
*.env
*.dockerignore

# IDE / OS
.vscode/
.idea/
.DS_Store
